:root {
  --main-bg-color: #111;
  --main-fg-color: whitesmoke;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

a {
  color: var(--main-fg-color);
}

#language {
  margin-bottom: 20px;
  text-align: right;
}

#en, #pt {
  grid-row: 2;
  grid-column: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility .5s ease-out 2s, opacity .5s;
}

.container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 80vw;
  }
